x-service-defaults: &defaults
  restart: unless-stopped

services:
  php:
    <<: *defaults
    build:
      context: .
      dockerfile: docker/php/Dockerfile
      target: php-production
      args:
        USER: www-data
        UID: 1000
        GID: 1000
    container_name: cs2inventory_php
    working_dir: /var/www/html
    networks:
      - cs2inventory_network

  nginx:
    <<: *defaults
    image: nginx:alpine
    container_name: cs2inventory_nginx
    depends_on:
      - php
    networks:
      - cs2inventory_network

networks:
  cs2inventory_network:
    driver: bridge
